.title{
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top:50px; /*space from top of website to my name*/
    text-align: center;
}

/*styles for links under my name on the main page*/
.title a{
    color: rgb(12, 137, 172);
    text-decoration: none;
    margin-left: 2px;
    margin-top: 0px;
    font-style: italic;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.card{
    flex: 1 1 300px;
    max-width: 400px;
    padding: 10px;
    justify-content: space-between;
    position: relative;     /* Necessary for absolute overlay */
    flex: 1 1 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card img{
   margin-top: 10px;
   margin-bottom: 10px;
   display: block;
   width: 100%;
}

.card:hover{
    transform: scale(1.06);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s ease;

}

.card:hover .overlay{
    opacity: 1;
}

.card:hover .card {
    opacity: .01;
}


/* Styles for ice-arrests page. */
/* The wrapper is chart-container with four chart-box elements inside*/

    /*sub styles for mobile*/
@media (max-width: 767px) {
  #ice_arrests_page {
    padding: 0 16px;
    box-sizing: border-box;
  }

   #chart-container{
    display: flex;
    flex-wrap:wrap;
    gap: 10px;
  }

  .chart-box{
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
}


    /*sub styles for desktop*/

@media (min-width: 768px) {
    
#ice_arrests_page {
    padding: 0 60px;
    box-sizing: border-box;
}

#chart-container{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    max-width: 1000px;
    margin: 0 auto;
}

.chart-box{
    width: calc(50% - 5px);
    height: 250px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
}