.ribbon {
    max-width: 1200;
    background-color: none;
    margin: 0 auto;
}

.title{
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
    text-align: center;
}

.title h2{
    margin-bottom: 0px;
    padding:0px;
}

.title h5{
    margin-top:5px;
}

.title a{
    color: rgb(12, 137, 172);
    text-decoration: none;
    margin-left: 2px;
    margin-top: 0px;
    font-style: italic;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    flex: 1 1 300px;
    max-width: 400px;
    padding: 10px;
    justify-content: space-between;
    position: relative;     /* Necessary for absolute overlay */
    flex: 1 1 250px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    cursor: pointer;
}

.card img{
   margin-top: 10px;
   margin-bottom: 10px;
   display: block;
   width: 100%;
}

.card:hover{
    transform: scale(1.06);
    box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.25s ease;

}

.card:hover .overlay{
    opacity: 1;
}

.card:hover .card {
    opacity: .01;
}


/*Styles for individual graphic pages*/

.graphic{
    display: flex;
    margin: 100px;
}