.container {
    text-align: center;
    /*margin-bottom: 2rem;*/
    font-family: 'Times New Roman', Times, serif;
    /*background-color: antiquewhite;*/
    margin:auto;
}

.container.visualization{
    text-align: center;
    /*background-color: aqua;*/
    margin-bottom: 5em;
}

.container.title.header{
    margin-bottom: 5em;
    font-size:1.5em;
}

#bog-body-chart{
    margin-top: 300px;
    margin: 0 auto;
    text-align: center;
}